---
import MainLayout from '@layouts/MainLayout.astro';
import { SITE_DESCRIPTION_EXPERIENCE, SITE_TITLE_EXPERIENCE } from '@constants/consts.ts';
import { getCollection, type CollectionEntry } from 'astro:content';
import XpLayout from '@layouts/XpLayout.astro';
import dayjs from 'dayjs';
import Badge from '@components/astro/atoms/Badge.astro';
import { Icon } from 'astro-icon/components';

const allExperience: CollectionEntry<'experience'>[] = await getCollection('experience');
---

<MainLayout title={SITE_TITLE_EXPERIENCE} description={SITE_DESCRIPTION_EXPERIENCE}>
	<XpLayout
		title="Éxperiences"
		description="Voici un aperçu des lieux où j’ai travaillé, un simple résumé chronologique sans entrer dans les détails."
	>
		<div class="flex flex-col divide-y-2">
			{
				allExperience
					.sort(function (a: any, b: any) {
						return +dayjs(b.data.startDate, 'YYYY-MM') - +dayjs(a.data.startDate, 'YYYY-MM');
					})
					.map(async (detail) => {
						return (
							!detail.data.hidden && (
								<a href={`/experiences/${detail.slug}`} class="p-8 hover:bg-[#14213D]">
									<article class="gap flex flex-col justify-between gap-3 md:flex-row">
										<div class="md:min-w-40">
											<h3 class="font-semibold">{detail.data.company}</h3>
											<p class="text-sm italic text-white">
												{detail.data.startDate} {detail.data.endDate ? '-' : ''}
												{detail.data.endDate}
											</p>
										</div>
										<div class="md:w-full">
											<p>{detail.data.post}</p>
											<ul class="flex flex-row flex-wrap">
												{detail.data.packages.map((item: unknown) => (
													<li class="m-1">
														<Badge>{item}</Badge>
													</li>
												))}
											</ul>
										</div>
										<div class="flex justify-end md:items-center">
											<Icon name="arrow-right" class="text-3xl hover:scale-110" />
										</div>
									</article>
								</a>
							)
						);
					})
			}
		</div>
	</XpLayout>
</MainLayout>
