---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import Badge from '@components/atoms/Badge.astro';
const allExperience: CollectionEntry<'experience'>[] = await getCollection('experience');
---

<h2 class="font-satoshi mb-3 text-2xl font-bold text-white">Éxperiences</h2>
<ul
	class="gap font-hind scroll flex max-h-[32rem] scroll-m-1 scroll-mr-2 flex-col gap-8 overflow-scroll overflow-x-hidden"
>
	{
		allExperience
			.sort(function (a: any, b: any) {
				return +dayjs(b.data.startDate, 'YYYY-MM') - +dayjs(a.data.startDate, 'YYYY-MM');
			})
			.map(
				(experience) =>
					!experience.data.hidden && (
						<li class="rounded-2xl p-3 hover:bg-[#0b192c]">
							<a href={`/experiences/${experience.id}`} class="flex flex-col">
								<div class="gap flex flex-col gap-2">
									<div class="gap flex flex-col gap-0">
										<span class="text-xs text-[#BDD6F2]">
											{experience.data.startDate}{' '}
											{experience.data.endDate ? `- ${experience.data.endDate}` : ''}
										</span>
										<span class="font-bold text-white">{experience.data.company}</span>
									</div>
									<div class="gap flex flex-col gap-0">
										<span class="text-[#BDD6F2]">{experience.data.post}</span>
										<span class="text-white">{experience.data.description}</span>
									</div>
									<ul class="gap flex gap-2">
										{experience.data.packages.slice(0, 3).map((item: string) => (
											<li>
												<Badge>{item}</Badge>
											</li>
										))}
									</ul>
								</div>
							</a>
						</li>
					)
			)
	}
</ul>
