---
const { details } = Astro.props;
const detailsReversed = details.sort((a: { number: number; },b: { number: number; }) => b.number - a.number)
---
<section class="flex flex-row items-start mt-28">
  <h2 class="w-60 mt-5 font-bold text-xl">EXPERIENCE</h2>
  <div class="flex flex-col w-full">
    {detailsReversed.map((detail:any) => 
      !detail.hide && <article class="my-5">
        <div class="flex flex-row justify-between">
          <h3 class="font-bold text-xl">{detail.company}</h3>
          <p class="text-sm italic text-gray-700">{detail.startDate} {detail.endDate? "-": ""} {detail.endDate}</p>
        </div>
        <p class="font-semibold">{detail.post}</p>
        <ul class="mt-3">
          {detail.description.map((item:any) => (
            <li class="dark:text-gray mt-3 max-w-3xl">
              <div class="flex flex-col">
                <p class="font-medium mr-2 underline">{item.mission}</p>
                <ul class="">{item?.activity?.map((act:any)=> <p>{act}</p>)}</ul>
                {item.technologies ? <p class="mt-1 italic"><span class="mr-2 underline">Environnement technique:</span>{item.technologies}</p> : ""}
              </div>
            </li>
          ))}
        </ul>
      </article>
    )}
  </div>
</section>