---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import Badge from 'components/astro/atoms/Badge.astro';
const allExperience: CollectionEntry<'experience'>[] = await getCollection('experience');
---

<div class="flex items-center justify-between">
	<h2 class="mb-3 font-satoshi text-2xl font-bold text-white">Éxperiences</h2>
	<a
		href="/experiences"
		class="font-hind text-white underline decoration-2 underline-offset-4 hover:no-underline"
		>Voir plus</a
	>
</div>
<ul class="gap flex flex-col gap-8 font-hind">
	{
		allExperience
			.sort(function (a: any, b: any) {
				return +dayjs(b.data.startDate, 'YYYY-MM') - +dayjs(a.data.startDate, 'YYYY-MM');
			})
			.slice(0, 3)
			.map(
				(xp) =>
					!xp.data.hidden && (
						<li class="rounded-2xl p-3 hover:bg-[#0b192c]">
							<a href={`/experiences/${xp.slug}`} class="flex flex-col">
								<div class="gap flex flex-col gap-2">
									<div class="gap flex flex-col gap-0">
										<span class="text-xs text-[#BDD6F2]">
											{xp.data.startDate} {xp.data.endDate ? `- ${xp.data.endDate}` : ''}
										</span>
										<span class="font-bold text-white">{xp.data.company}</span>
									</div>
									<div class="gap flex flex-col gap-0">
										<span class="text-[#BDD6F2]">{xp.data.post}</span>
										<span class="text-white">{xp.data.description}</span>
									</div>
									<ul class="gap flex gap-2">
										{xp.data.packages.slice(0, 3).map((item) => (
											<li>
												<Badge>{item}</Badge>
											</li>
										))}
									</ul>
								</div>
							</a>
						</li>
					)
			)
	}
</ul>
