---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';

const allExperience: CollectionEntry<'experience'>[] = await getCollection('experience');
---

<div class="mx-8 text-stone-900">
	<h2 class="my-8 font-satoshi text-3xl font-bold">Mes experiences</h2>
	<ul class="gap mb-3 flex flex-col gap-5">
		{
			allExperience
				.sort(function (a: any, b: any) {
					return (
						+dayjs(b.data.startDate, 'YYYY-MM') - +dayjs(a.data.startDate, 'YYYY-MM')
					);
				})
				.map((xp) => (
					<li class="space-y-1">
						<a href={`/experiences/${xp.slug}`}>
							<span class="font-semibold hover:underline">{xp.data.company}</span>
						</a>
						<span class="flex w-full justify-between text-sm text-stone-900">
							{xp.data.post}
							<span class="text-lightBlue-500 italic">
								{xp.data.startDate} {xp.data.endDate ? `- ${xp.data.endDate}` : ''}
							</span>
						</span>
					</li>
				))
		}
		<li><a href="/experiences" class="text-blue-500 underline">Plus d'info</a></li>
	</ul>
</div>
