---
const { title, img, description, githubUrl, url } = Astro.props;
import { Image } from 'astro:assets';
---

<div
	class="bg-with group rounded-lg transition ease-in-out hover:bg-gray-200 group-hover:shadow-xl"
>
	<div class="flex">
		{
			img && (
				<Image
					src={img}
					width={250}
					height={1}
					format="webp"
					alt={title}
					class="mr-2 hidden max-w-full rounded-lg md:block md:max-w-[13rem]"
				/>
			)
		}
		<div class="m-2 flex w-full grow flex-col justify-between">
			<div>
				<h1 class="text-xl font-bold">
					<a href={url} target="_blank" class="text-blue-500 group-hover:underline">
						{title}
					</a>
				</h1>
				<p class="text-1xl py-1">{description}</p>
			</div>
			<a href={githubUrl} target="_blank" class="text-blue-500 underline">Code source</a>
		</div>
	</div>
</div>
