---
import Badge from '@components/astro/atoms/Badge.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

const { title, img, description, githubUrl, url, packages } = Astro.props;
---

<div>
	<div class="flex">
		{
			img && (
				<Image
					src={img}
					width={250}
					height={250}
					format="webp"
					alt={title}
					class="mr-2 hidden max-w-full rounded-lg lg:block lg:max-w-[13rem]"
				/>
			)
		}
		<div class="gap m-2 flex w-full grow flex-col justify-between gap-8">
			<div class="gap flex flex-col gap-1">
				<h1 class="text-xl font-bold text-white">
					{title}
				</h1>
				<p class="py-1 text-sm text-white">{description}</p>
				<p class="py-1">
					<ul class="gap flex flex-row gap-3">
						{
							packages.map((item: string) => (
								<li>
									<Badge>{item}</Badge>
								</li>
							))
						}
					</ul>
				</p>
			</div>
			<div class="gap flex gap-5">
				<a
					href={githubUrl}
					target="_blank"
					class="flex min-w-20 items-center justify-center rounded-full bg-white px-2 py-1 text-sm text-[#0b192c] hover:bg-red-800"
				>
					<Icon name="github-fill" class="mr-1" />Source</a
				>
				<a
					href={'https://open-quittance.rajanan.dev'}
					target="_blank"
					class="flex min-w-20 items-center justify-center rounded-full bg-white px-2 py-1 text-sm text-[#0b192c] hover:bg-gray-100"
				>
					<Icon name="global-line" class="mr-1" />Site</a
				>
			</div>
		</div>
	</div>
</div>
