---
const { title, img, description, githubUrl, url } = Astro.props;
import { Image } from 'astro:assets';
---

<div
	class="rounded-lg group group-hover:shadow-xl hover:bg-stone-200 bg-with transition ease-in-out"
>
	<div class="flex">
		{
			img && (
				<Image
					src={img}
					width={250}
					height={1}
					format="webp"
					alt={title}
					class="max-w-full md:max-w-[13rem] rounded-lg mr-2 hidden md:block"
				/>
			)
		}
		<div class="grow w-full m-2 flex flex-col justify-between">
			<div>
				<h1 class="text-xl font-bold">
					<a href={url} target="_blank" class="text-blue-500 group-hover:underline">
						{title}
					</a>
				</h1>
				<p class="py-1 text-1xl">{description}</p>
			</div>
			<a href={githubUrl} target="_blank" class="text-blue-500 underline">Github</a>
		</div>
	</div>
</div>
